<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiTokenKey</key>
	<string>$(MY_API_TOKEN_KEY)</string>
	<key>ApiUrl</key>
	<string>$(MY_API_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложению TinkoffChatApp требуется доступ к Вашей галлерее для выбора фотографии</string>
	<key>NSCameraUsageDescription</key>
	<string>Приложению TinkoffChatApp требуется доступ к Вашей камере для выполнения снимка</string>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
